.about{

    margin:auto;
    padding:17px;
}
.about h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
}
.text{
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
.text p{
    margin-top: -8px;
    line-height: 1.3em;
}
.range{
    margin-left: 10px;
    
}

.lan{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 13px;
}
.range hr{
margin-top: -16px;
margin-left: 35%;
height:12px;
border-radius: 10px;
border:none;
background: linear-gradient(194deg, blue, orange);

}
 /*  ----- media query ------*/
 
 @media (min-width:600px){
    .about{
       
        max-width:700px;
     }
     .about h3{
        font-size: 30px;
     }
     .text{
        font-size: 20px; 
     }
     .text p{
        margin-top: -2px;
        line-height: 1.4em;
    }
     .range hr{
        margin-left: 25%;
        margin-top: -16px;
     }
    


 }
 @media (min-width:1000px){
    .about{
        
        max-width:900px;
        margin:auto;

     }
     .about h3{
        font-size: 35px;

     }
     .text{
        font-size: 22px; 
     
      
     }
     .text p{
        margin-top: -2px;
        line-height: 1.5em;
    }
     .range hr{
        margin-left: 12%;
        margin-top: -15px;
     }
    


 }
 
 
 










