
.hero{
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
min-height:100vh;
}

.image img{
    width:160px;
    height: 160px;
    object-fit:fill;
    border-radius: 50%;
 
}
.image{
    display:flex;
    justify-content: center;
    align-items: center;
}
.text{
    margin-top: 30px;  
    text-align: center;
    padding:15px;
}
.name{
    font-size: 23px;
    font-weight: bold;
    background: linear-gradient(194deg, blue, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dev{
    font-size: 17px;
    margin-top:-20px;
}
.paragraph{
    font-size: 17px;  
    padding:15px;
    margin-top:-1px;
}
.btn{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin:0 auto;
    padding: 10px;
    border-radius:20px;
    border:none;
    font-size: 15px;
    background: linear-gradient(to right, blue, orange);
    cursor: pointer;
}


/*     ------media query ------*/

@media (min-width:650px){
.image img{
 
    width:200px;
    height:200px;
}
.name{
    font-size:28px;
}
.dev{
    font-size:21px;
}
.paragraph{
    font-size:21px;
}


}

@media (min-width:1000px){
    .image img{
     
        width:235px;
        height:235px;
    }
    .name{
        font-size:30px;
    }
    .dev{
        font-size:23px;
    }
    .paragraph{
        font-size:23px;
    }
.btn{
    margin-top: -15px;
}    
    
    }









































