.project{
    display:block;
    min-height:100vh;
}
.project h3{
    display:flex;
    justify-content: center;
   margin-top: 40px;
    margin:0px auto;
    font-weight: bold;
    font-size:22px;
}
.grid{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    margin:50px;
   
}

.image{
    width:90%;
    height:90%;
    margin-bottom: 30px;
    box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.6);
    border-radius: 15px;
    cursor:pointer;
}




/* ------- media query  --------*/
@media(min-width:500px){
 .project h3{
    font-size: 27px;
 } 

 .image{
    
  border-radius: 15px;
}
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    margin-top: 90px;

} 


}


@media(min-width:800px){
    .project h3{
       font-size: 30px;
    } 
   
    .image{
       
   }
   .grid{
       display:grid;
       grid-template-columns: 1fr 1fr 1fr;
       padding:20px;
       row-gap: 25px;
       column-gap: 25px;
       margin-top: 90px;
   
   } 
   
   
   }
   @media(min-width:1000px){
    .project h3{
       font-size: 30px;
    } 
   
    .image{
       
       border-radius: 28px;
   
   }
   .grid{
       display:grid;
       grid-template-columns: 1fr 1fr 1fr;
       row-gap: 28px;
       padding:25px;
       column-gap: 28px;
       margin-top: 90px;
   
   } 
   
   
   }













